.div-block {
  padding-top: 37px;
}

.container {
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
}

.image {
  padding: 25px;
}

.image-2 {
  padding: 50px 25px 25px 27px;
}

.div-block-2 {
  padding-top: 30px;
  border-bottom: 4px solid #000;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.div-block-3 {
  padding-top: 40px;
}

.text-field {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 4px solid #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-field.blockytextfield {
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-wrapper {
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

.blockytextfield.text-field {
  position: static;
  padding-top: 28px;
  padding-bottom: 28px;
  line-height: 20px;
}

.submit-button {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 48px;
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.text-block {
  display: block;
  border-bottom: 1px none #000;
  color: #000;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.container-2 {
  display: block;
  margin-top: 55px;
  margin-bottom: 55px;
  padding-bottom: 0px;
}

.link-block {
  display: block;
  text-align: center;
}

.text-block-2 {
  margin-top: 30px;
  color: #000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.link-2 {
  color: #000;
}

.link-3 {
  color: #000;
}

.link-4 {
  color: #000;
}

.image-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-4 {
  padding-right: 239px;
  padding-left: 239px;
}

.text-block-3 {
  margin-top: 26px;
  padding-right: 174px;
  padding-left: 174px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.div-block-5 {
  margin-top: 31px;
  padding-right: 98px;
  padding-left: 98px;
}

.text-field-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 4px solid #000;
  font-weight: 700;
  text-transform: uppercase;
}

.submit-button-2 {
  padding: 14px 46px;
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.div-block-6 {
  overflow: visible;
  margin-top: 72px;
  margin-bottom: 72px;
}

.text-block-4 {
  font-weight: 700;
  text-transform: uppercase;
}

.text-block-5 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .div-block {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 17px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .image {
    padding-top: 0px;
  }
  .image-2 {
    padding: 0px 11px 25px;
  }
  .div-block-2 {
    margin-right: 17px;
    margin-left: 12px;
    padding-top: 0px;
    border-bottom-width: 3px;
  }
  .div-block-3 {
    padding: 21px 52px 11px;
  }
  .text-field.blockytextfield {
    border-width: 3px;
    font-size: 14px;
  }
  .form-wrapper {
    padding: 18px;
  }
  .image-4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .image-5 {
    border-style: solid;
    border-width: 4px 4px 1px;
    border-color: #000;
  }
  .div-block-4 {
    padding-right: 28px;
    padding-left: 28px;
  }
  .text-block-3 {
    padding-right: 19px;
    padding-left: 19px;
    font-size: 14px;
  }
  .div-block-5 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .submit-button-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .div-block-6 {
    overflow: hidden;
  }
}